version: '3.8'

services:
  smartdns-manager:
    image: ghcr.nju.edu.cn/almightyyantao/smartdns-manager:main
    container_name: smartdns-manager
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    environment:
      - TZ=Asia/Shanghai
    networks:
      - smartdns-network

networks:
  smartdns-network:
    driver: bridge